{% extends 'base.html' %}

{% block content %}
  <h1>Список всех товаров</h1>
  <p class="mb-5 text-body-secondary">Выберите и изучите интересующий товар</p>
  <div class="row ">
    <div class="row flex-column gap-4 align-items-center">
    {% for product in products %}
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">{{ product.description}}</h6>
          </div>
        </div>
      </div>
    {% empty %}
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Еще нет товаров</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Если вы видите эту надпись, значит все раскупили</h6>
            <p class="card-text">Каждому товару нужен свой покупатель</p>
            <a href="#" class="card-link">Чпоньк</a>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
      <div class="col-12">
        <a href="{% url 'create_product' %}" class="card-link">Создать новый товар</a>
      </div>
{% endblock %}