{% extends 'base.html' %}

{% block content %}
  <h1>Заказ</h1>
  <div class="row flex-column gap-4 align-items-center">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="d-flex align-items-center gap-2">
            <h5 class="card-title">{{ order.customer_name }}</h5>
            <span class="badge text-bg-dark mb-1">{{ order.customer_email }}</span>
          </div>
          <h6 class="card-subtitle mb-2 text-body-secondary">{{ order.order_date }}</h6>
          <pre class="card-text">Товары в заказе:</pre>
          <ul>
            {% for product in order.line.all %}
              <li>{{ product.name }} - {{ product.price }}</li>
            {% endfor %}
        <h5 class="card-title">Общая стоимость: {{ total_price }}</h5>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
