<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Авторы фантасты</title>

    <style>
        .wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .wrapper > div {
            margin-bottom: 10px;
        }
    </style>
</head>

<body>
    <div>
        <h1>{{ author }}</h1>
            <p>Books by {{ author }}:</p>
        <ul>
            {% for book in author.top_books.all %}
                <li><a href="{% url 'detail' author.id book.id %}">{{ book.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>