<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Писатели фантасты</title>

    <style>
        .wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .wrapper > div {
            margin-bottom: 10px;
        }
    </style>
</head>

<body>
    <div>
      <h1>Лучшие писатели 20 и 21 веков!</h1>
    </div>
    <ul>
        {% for author in authors %}
            <li><a href="{% url 'detail' author.id top_books.id %}"> 
                {{ author.id }} Автор {{ author.first_name }} {{ author.last_name }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>