<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Писатели фантасты</title>

    <style>
        .wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .wrapper > div {
            margin-bottom: 10px;
        }
    </style>
</head>

<body>
    <div>
      <h1>Лучшие писатели 20 и 21 веков!</h1>
    </div>
    <ul>
        {% for author in authors %}
            <a href="{% url 'author_detail' author.id %}">{{ author }}</a>
        {% endfor %}
    </ul>
    <ul>
        <li><a href="{% url 'author' author_id %}">Писатели</a></li>
        <li><a href="{% url 'detail' top_book_id %}">Подробности</a></li>
        <li><a href="{% url 'top_book' top_book_id %}">Топ книг</a></li>
    </ul>
</body>
</html>