<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Писатели фантасты</title>

    <style>
        .wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .wrapper > div {
            margin-bottom: 10px;
        }
    </style>
</head>

<body>
    <div>
      <h1>Лучшие писатели 20 и 21 веков!</h1>
    </div>
    <ul>
        <li><a href="{% url 'authors' %}">Лучшие авторы</a></li>
        <li><a href="{% url 'top_book' %}">Топ книг</a></li>

    </ul>
</body>
</html>