<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Топ самых читаемых книг</title>

    <style>
        .wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .wrapper > div {
            margin-bottom: 10px;
        }
    </style>
</head>

<body>
    <div>
      <h1>Топ самых читаемых книг</h1>
            <ul>
                {% for book in top_books %}
                    <li><a href="{% url 'detail' book.author.id book.id %}">{{ book.title }}</a></li>
                {% endfor %}
            </ul>
    </div>
    <div>
      <p><a href="{% url 'main' %}">На главную</a></p>
    </div>
</body>
</html>