{% extends 'base.html' %}

{% block content %}
  <h1>{{ category.name }}</h1>
  <pre class="text-body-secondary">Информация о товаре</pre>
  <p class="mb-5 text-body-secondary">Категория</p>
  <div class="row gap-3">
      <div class="col-12">
      <h2>{{ product.name }}</h2>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ product.description }}</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">{{ product.price }}</h6>
          </div>
        </div>
      </div>
  </div>
{% endblock %}